
.review-wrap {
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-wrap.active {
    transform: scale(1.2) !important;
}

.review-content {
    padding: 3rem;
    border-bottom: .125rem solid var(--grey);
    position: relative;
    text-align: center;
}

.review-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-info {
    padding: 3rem;
    text-align: center;
}

.rating {
    margin-top: 2rem;
}

.rating i {
    color: var(--primary-color);
}